---
import ThumborImage from "../components/ThumborImage.astro";
import ThumborPicture from "../components/ThumborPicture.astro";
import {ThumborProps} from "../types";
import ThumborFallbackImage from "../components/ThumborFallbackImage.astro";
import ThumborOptimizedImage from "../components/ThumborOptimizedImage.astro";

let thumborImage: ThumborProps = {
  url: new URL('http://thumbor.thumborize.globo.com'),
  width: 500,
  height: 500,
  smart: true,
  filters: [
    {
      name: 'quality',
      amount: 100
    },
    {
      name: 'strip_exif'
    },
    {
      name: "round_corner",
      a: 25,
      red: 255,
        green: 255,
        blue: 255,
      transparent: true
    },
    {
      name: 'strip_icc'
    },
    {
      name: 'format',
      format: 'webp'
    },
    {
      name:'background_color',
      color: '#2bb9a4'
    },
    {
      name: "sharpen",
      amount: 2,
      radius: 1.0,
      luminance: true
    },
    {
      name:'extract_focal',
      pre: {
        topLeft: {
          x: 100,
          y: 150
        },
        bottomRight: {
          x: 300,
          y: 200
        }
      }
    },
    /*{
      name:'convolution',
      matrix: [[-1, -1, -1], [-1, 8, -1], [-1, -1, -1]],
      columns: 3,
      normalize: false
    }*/
  ]
}

let thumborFallbackMain: ThumborProps = {
    url: new URL('http://thumbor.thumborize.globo.com'),
    width: 500,
    height: 500,
    smart: true,
    filters: [
      {
        name: 'quality',
        amount: 100
      },
      {
        name: 'strip_exif'
      },
      {
        name: 'strip_icc'
      },
      {
        name: 'format',
        format: 'png'
      },
      {
        name:'background_color',
        color: '#2bb9a4'
      },
      {
        name: 'watermark',
        url: 'https://easydigitaldownloads.com/wp-content/uploads/2014/02/edd-download-image-watermark.png',
        xPosition: {
          type: 'repeat',
        },
        yPosition: {
          type: 'repeat',
        },
        wRatio: 15,
        alpha: 85
      }
    ]
}
let thumborFallbackPlaceholder: ThumborProps = {
  url: new URL('http://thumbor.thumborize.globo.com'),
  width: 500,
  height: 500,
  smart: true,
  filters: [
    {
      name: 'quality',
      amount: 10
    },
    {
      name: 'strip_exif'
    },
    {
      name: 'strip_icc'
    },
    {
      name: 'format',
      format: 'png'
    },
    {
      name:'background_color',
      color: '#2bb9a4'
    }
  ]
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Thumbor Image</title>
  </head>
  <body>
  <div>
    <p>
        This is a test of the Thumbor Image component. Local image:
    </p>
    <ThumborImage
        thumbor={{
          url: new URL('http://thumbor.thumborize.globo.com'),
          width: 500,
          height: 500,
          smart: true,
          filters: [
            {
              name: 'quality',
              amount: 100
            },
            {
              name: 'strip_exif'
            },
            {
              name: "round_corner",
              a: 25,
              red: 255,
              green: 255,
              blue: 255,
              transparent: true
            },
            {
              name: 'strip_icc'
            },
            {
              name: 'format',
              format: 'webp'
            },
            {
              name:'background_color',
              color: '#2bb9a4'
            },
            {
              name: "sharpen",
              amount: 2,
              radius: 1.0,
              luminance: true
            },
            {
              name:'extract_focal',
              pre: {
                topLeft: {
                  x: 100,
                  y: 150
                },
                bottomRight: {
                  x: 300,
                  y: 200
                }
              }
            },
            /*{
              name:'convolution',
              matrix: [[-1, -1, -1], [-1, 8, -1], [-1, -1, -1]],
              columns: 3,
              normalize: false
            }*/
          ]
        }}
        src="https://raw.githubusercontent.com/thumbor/thumbor/master/docs/images/tom_before_brightness.jpg"
        alt="This is a test of the Thumbor Image component. Local logo image"
    />
  </div>
  <div>
    <p>
      This is a test of the Thumbor Fallback Image component. Local image:
    </p>
    <ThumborFallbackImage
        thumbor={thumborFallbackMain}
        src="https://raw.githubusercontent.com/thumbor/thumbor/master/docs/images/t1om_before_brightness.jpg"
        alt="This is a test of the Thumbor Fallback Image component. Local logo image"
        id="logo_fallback"
        width={500}
        height={500}
        fallback={{
          src: "https://miro.medium.com/v2/resize:fit:4800/format:webp/1*56i1w9SNBldDKBXFGldwIA.png",
          thumbor: thumborFallbackPlaceholder
        }}
    />
  </div>
  <!--<div>-->
  <!--  <p>-->
  <!--    This is a test of the Thumbor Optimized Image component. Local image:-->
  <!--  </p>-->
  <!--  <ThumborOptimizedImage-->
  <!--      thumbor={{-->
  <!--        key: 'l0L_S0_s3CUR3',-->
  <!--        url: new URL('http://localhost:8888'),-->
  <!--        width: 1000,-->
  <!--        height: 1000,-->
  <!--        smart: true,-->
  <!--        filters: [-->
  <!--          {-->
  <!--            name: 'quality',-->
  <!--            args: [{-->
  <!--              value: 100-->
  <!--            }]-->
  <!--          },-->
  <!--          {-->
  <!--            name: 'strip_exif'-->
  <!--          },-->
  <!--          {-->
  <!--            name: 'strip_icc'-->
  <!--          },-->
  <!--          {-->
  <!--            name: 'format',-->
  <!--            args: [{-->
  <!--              value: 'png'-->
  <!--            }]-->
  <!--          },-->
  <!--          {-->
  <!--            name:'background_color',-->
  <!--            args: [{-->
  <!--              value: '#2bb9a4'-->
  <!--            }]-->
  <!--          }-->
  <!--        ]-->
  <!--      }}-->
  <!--      src="https://raw.githubusercontent.com/thumbor/thumbor/master/docs/images/tom_before_brightness.jpg"-->
  <!--      alt="This is a test of the Thumbor Fallback Image component. Local logo image"-->
  <!--      id="logo_optimized"-->
  <!--      width="1000"-->
  <!--      height="1000"-->
  <!--      lowres={{-->
  <!--        src: "https://raw.githubusercontent.com/thumbor/thumbor/master/docs/images/tom_before_brightness.jpg",-->
  <!--        thumbor: {-->
  <!--        key: 'l0L_S0_s3CUR3',-->
  <!--        url: new URL('http://localhost:8888'),-->
  <!--        width: 1000,-->
  <!--        height: 1000,-->
  <!--        smart: true,-->
  <!--        filters: [-->
  <!--          {-->
  <!--            name: 'quality',-->
  <!--            args: [{-->
  <!--              value: 1-->
  <!--            }]-->
  <!--          },-->
  <!--          {-->
  <!--            name: 'max_bytes',-->
  <!--              args: [{-->
  <!--                  value: 5-->
  <!--              }]-->
  <!--          },-->
  <!--          {-->
  <!--            name: 'format',-->
  <!--            args: [{-->
  <!--              value: 'webp'-->
  <!--            }]-->
  <!--          },-->
  <!--          {-->
  <!--            name:'background_color',-->
  <!--            args: [{-->
  <!--              value: '#2bb9a4'-->
  <!--            }]-->
  <!--          }-->
  <!--        ]-->
  <!--      }-->
  <!--      }}-->
  <!--      fallback={{-->
  <!--        src: "https://miro.medium.com/v2/resize:fit:4800/format:webp/1*56i1w9SNBldDKBXFGldwIA.png",-->
  <!--        thumbor: {-->
  <!--          key: 'l0L_S0_s3CUR3',-->
  <!--          url: new URL('http://localhost:8888'),-->
  <!--          width: 1500,-->
  <!--          height: 500,-->
  <!--          smart: true,-->
  <!--          filters: [-->
  <!--            {-->
  <!--              name: 'quality',-->
  <!--              args: [{-->
  <!--                value: 100-->
  <!--              }]-->
  <!--            },-->
  <!--            {-->
  <!--              name: 'strip_exif'-->
  <!--            },-->
  <!--            {-->
  <!--              name: 'strip_icc'-->
  <!--            },-->
  <!--            {-->
  <!--              name: 'format',-->
  <!--              args: [{-->
  <!--                value: 'png'-->
  <!--              }]-->
  <!--            },-->
  <!--            {-->
  <!--              name:'background_color',-->
  <!--              args: [{-->
  <!--                value: '#2bb9a4'-->
  <!--              }]-->
  <!--            }-->
  <!--          ]-->
  <!--        }-->
  <!--      }}-->
  <!--  />-->
  <!--</div>-->

  <!--<div>-->
  <!--  <p>-->
  <!--    This is a test of the Thumbor Image component. Remote image:-->
  <!--  </p>-->
  <!--  <ThumborImage-->
  <!--      thumbor={{-->
  <!--        key: 'l0L_S0_s3CUR3',-->
  <!--        url: new URL('http://localhost:8888'),-->
  <!--        filters: [-->
  <!--          {-->
  <!--            name: 'quality',-->
  <!--            args: [{-->
  <!--              value: 50-->
  <!--            }]-->
  <!--          },-->
  <!--          {-->
  <!--            name: 'format',-->
  <!--            args: [{-->
  <!--              value: 'webp'-->
  <!--            }]-->
  <!--          },-->
  <!--          {-->
  <!--            name:'blur',-->
  <!--            args: [{-->
  <!--              value: 55-->
  <!--            }]-->
  <!--          }-->
  <!--        ]-->
  <!--      }}-->
  <!--      src="https://raw.githubusercontent.com/thumbor/thumbor/master/docs/images/tom_before_brightness.jpg"-->
  <!--      alt="This is a test of the Thumbor Image component. Remote image"-->
  <!--  />-->
  <!--</div>-->
  <!--<div>-->
  <!--<ThumborPicture-->
  <!--    image={{-->
  <!--      thumbor: {-->
  <!--        key: 'l0L_S0_s3CUR3',-->
  <!--        url: new URL('http://localhost:8888'),-->
  <!--        width: 500,-->
  <!--        height: 500,-->
  <!--        smart: true,-->
  <!--        filters: [-->
  <!--          {-->
  <!--            name: 'quality',-->
  <!--            args: [{-->
  <!--              value: 100-->
  <!--            }]-->
  <!--          },-->
  <!--          {-->
  <!--            name: 'strip_exif'-->
  <!--          },-->
  <!--          {-->
  <!--            name: 'strip_icc'-->
  <!--          },-->
  <!--          {-->
  <!--            name: 'format',-->
  <!--            args: [{-->
  <!--              value: 'png'-->
  <!--            }]-->
  <!--          },-->
  <!--          {-->
  <!--            name:'background_color',-->
  <!--            args: [{-->
  <!--              value: '#2bb9a4'-->
  <!--            }]-->
  <!--          },-->
  <!--          {-->
  <!--            name:'convolution',-->
  <!--            args: [{-->
  <!--              value: [[-1, -1, -1], [-1, 8, -1], [-1, -1, -1]]-->
  <!--            },-->
  <!--              {-->
  <!--                value: 3-->
  <!--              },-->
  <!--              {-->
  <!--                value: false-->
  <!--              }]-->
  <!--          }-->
  <!--        ]-->
  <!--      },-->
  <!--      src:"https://raw.githubusercontent.com/thumbor/thumbor/master/docs/images/tom_before_brightness.jpg",-->
  <!--      alt:"This is a test of the Thumbor Image component. Local logo image",-->
  <!--    }}-->
  <!--    sources={-->
  <!--        [-->
  <!--          {-->
  <!--            srcset:{-->
  <!--              thumbor: {-->
  <!--                key: 'l0L_S0_s3CUR3',-->
  <!--                url: new URL('http://localhost:8888'),-->
  <!--                width: 600,-->
  <!--                height: 600,-->
  <!--                smart: true,-->
  <!--                filters: [-->
  <!--                  {-->
  <!--                    name: 'quality',-->
  <!--                    args: [{-->
  <!--                      value: 80-->
  <!--                    }]-->
  <!--                  },-->
  <!--                  {-->
  <!--                    name: 'format',-->
  <!--                    args: [{-->
  <!--                      value: 'webp'-->
  <!--                    }]-->
  <!--                  },-->
  <!--                  {-->
  <!--                    name:'background_color',-->
  <!--                    args: [{-->
  <!--                      value: '#2b5db9'-->
  <!--                    }]-->
  <!--                  },-->
  <!--                ]-->
  <!--              },-->
  <!--              src: "https://raw.githubusercontent.com/thumbor/thumbor/master/docs/images/tom_before_brightness.jpg",-->
  <!--              size: 600,-->
  <!--              mode: "width"-->
  <!--            },-->
  <!--            media: "(max-width: 450px)",-->
  <!--            type: "image/webp"-->
  <!--          },-->
  <!--          {-->
  <!--            srcset:{-->
  <!--              thumbor: {-->
  <!--                key: 'l0L_S0_s3CUR3',-->
  <!--                url: new URL('http://localhost:8888'),-->
  <!--                width: 800,-->
  <!--                height: 800,-->
  <!--                smart: true,-->
  <!--                filters: [-->
  <!--                  {-->
  <!--                    name: 'quality',-->
  <!--                    args: [{-->
  <!--                      value: 100-->
  <!--                    }]-->
  <!--                  },-->
  <!--                  {-->
  <!--                    name: 'format',-->
  <!--                    args: [{-->
  <!--                      value: 'avif'-->
  <!--                    }]-->
  <!--                  },-->
  <!--                  {-->
  <!--                    name:'background_color',-->
  <!--                    args: [{-->
  <!--                      value: '#b9982b'-->
  <!--                    }]-->
  <!--                  },-->
  <!--                ]-->
  <!--              },-->
  <!--              src: "https://raw.githubusercontent.com/thumbor/thumbor/master/docs/images/tom_before_brightness.jpg",-->
  <!--              size: 800,-->
  <!--              mode: "width"-->
  <!--            },-->
  <!--            media: "(max-width: 750px)",-->
  <!--            type: "image/avif"-->
  <!--          }-->
  <!--        ]-->
  <!--    }-->
  <!--/>-->
  <!--</div>-->
  </body>
</html>
